In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.svm import SVC
from sklearn.svm import LinearSVC
from sklearn.linear_model import SGDClassifier
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt

In [ ]:
#Loading the data

data=pd.read_csv('/content/Train.csv')
test=pd.read_csv('/content/Test.csv')
test.head()

  INCIDENT_ID       DATE  X_1  X_2  X_3  ...  X_11  X_12  X_13  X_14  X_15
0   CR_195453  01-FEB-18    0   30   35  ...   174   NaN    72   119    23
1   CR_103520  05-MAR-04    0   44   44  ...   316   0.0    12    29    34
2   CR_196089  27-JAN-18    0   34   33  ...   316   1.0    72     0    34
3   CR_112195  18-AUG-06    7    3    2  ...   174   1.0   112    87    34
4   CR_149832  31-OCT-11    0    7    8  ...   174   0.0   112    93    43

[5 rows x 17 columns]

In [ ]:
#Explolatory Data Analysis

data.groupby('MULTIPLE_OFFENSE').agg(['nunique']).stack()
data['DATE'].value_counts()
data1 = ((pd.DatetimeIndex(data['DATE']).month)).astype(float)
data2 = ((pd.DatetimeIndex(test['DATE']).month)).astype(float)
data.insert(2,'MONTH',data1)
test.insert(2,'MONTH1',data2)

In [ ]:
#Filling missing values using different techniques

X=data.iloc[:,2:18]
Y=data.iloc[:,18]
imputer=SimpleImputer(missing_values= np.nan,strategy="most_frequent")
X=imputer.fit_transform(X)
X=pd.DataFrame(X)
X_train, X_test, Y_train, Y_test = train_test_split( X , Y , test_size = 0.001, random_state = 0,shuffle=True)

In [ ]:
X_train[15].unique()
Y_train

3870     1
23554    1
19144    1
14839    1
19829    1
        ..
13123    1
19648    1
9845     1
10799    1
2732     1
Name: MULTIPLE_OFFENSE, Length: 19084, dtype: int64

In [ ]:
print(np.count_nonzero(Y_test))
print(Y_test.size)
print(X.shape)
X.isnull().sum()
Y_test

Using different classification algorithms to obtain a better accuracy(Actual testing was done on server)

In [ ]:
clf = make_pipeline(StandardScaler(), SVC(gamma='auto',kernel='poly'))
clf.fit(X_train, Y_train)
print(clf.score(X_test,Y_test))
b=clf.predict(X_test)
print(b.size)
print(np.count_nonzero(b))

0.960184409052808
4772
4712

In [ ]:
 clf = make_pipeline(StandardScaler(),LinearSVC(random_state=0, tol=1e-5,max_iter=10000))
clf.fit(X_train, Y_train)
print(clf.score(X_test,Y_test))
b=clf.predict(X_test)
print(b.size)
print(np.count_nonzero(b))

0.9553646269907795
4772
4761

/usr/local/lib/python3.6/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [ ]:
clf = RandomForestClassifier( random_state=0,criterion='entropy',n_estimators=10)
clf.fit(X_train, Y_train)
print(clf.score(X_test,Y_test))
b=clf.predict(X_test)
print(b.size)
print(np.count_nonzero(b))

1.0
24
23

In [ ]:
clf = GradientBoostingClassifier(random_state=0,n_estimators=200)
clf.fit(X_train, Y_train)
print(clf.score(X_test,Y_test))
b=clf.predict(X_test)
print(b.size)
print(np.count_nonzero(b))

1.0
24
23

In [ ]:
clf = MLPClassifier(random_state=1, max_iter=50).fit(X_train, Y_train)
print(clf.score(X_test,Y_test))
b=clf.predict(X_test)
print(b.size)
print(np.count_nonzero(b))

0.9677284157585918
4772
4682

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (50) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [ ]:
clf = KNeighborsClassifier(n_neighbors=15)
clf.fit(X_train, Y_train)
print(clf.score(X_test,Y_test))
b=clf.predict(X_test)
print(b.size)
print(np.count_nonzero(b))

0.9597652975691534
4772
4720

In [ ]:
test.head()
X_predict=test.iloc[:,2:18]
imputer=SimpleImputer(missing_values= np.nan,strategy="most_frequent")
X_predict=imputer.fit_transform(X_predict)
X_predict=pd.DataFrame(X_predict)

In [ ]:
b=clf.predict(X_predict)
b=pd.DataFrame(b)
print(b.size)
print(np.count_nonzero(b))

15903
15181

In [ ]:
test

      INCIDENT_ID       DATE  X_1  X_2  X_3  ...  X_11  X_12  X_13  X_14  X_15
0       CR_195453  01-FEB-18    0   30   35  ...   174   NaN    72   119    23
1       CR_103520  05-MAR-04    0   44   44  ...   316   0.0    12    29    34
2       CR_196089  27-JAN-18    0   34   33  ...   316   1.0    72     0    34
3       CR_112195  18-AUG-06    7    3    2  ...   174   1.0   112    87    34
4       CR_149832  31-OCT-11    0    7    8  ...   174   0.0   112    93    43
...           ...        ...  ...  ...  ...  ...   ...   ...   ...   ...   ...
15898    CR_44468  28-NOV-97    1   22   22  ...   174   0.0    72    29    43
15899   CR_158460  09-JUN-12    0   35   30  ...     0   2.0    72    93    34
15900   CR_115946  22-APR-06    0   26   27  ...     0   1.0    72    62    34
15901   CR_137663  03-APR-09    0   21   23  ...   249   2.0    92    62    34
15902    CR_33545  24-APR-96    0    4    4  ...   249   1.0    72    29    34

[15903 rows x 17 columns]

In [ ]:
final_ans=test.iloc[:,0]
final_ans=pd.DataFrame(final_ans)
final_ans.insert(1,"MULTIPLE_OFFENSE",b)
final_ans.to_csv('ouput7.csv')

In [ ]:
final_ans

       MULTIPLE_OFFENSE
0                     1
1                     1
2                     1
3                     1
4                     1
...                 ...
15898                 1
15899                 1
15900                 1
15901                 1
15902                 1

[15903 rows x 1 columns]

In [ ]:
x=data.iloc[:,1]
y=data.iloc[:,17]
x

0        04-JUL-04
1        18-JUL-17
2        15-MAR-17
3        13-FEB-09
4        13-APR-05
           ...
23851    11-JAN-02
23852    05-FEB-97
23853    03-APR-12
23854    25-JAN-04
23855    08-NOV-94
Name: DATE, Length: 23856, dtype: object